*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  color: white;
  font-size: 20px;
  text-transform: uppercase;

  font-family: 'Abril Fatface', serif;
text-transform: uppercase;
  overflow-x: hidden;
}
header{
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7)),url("https://images.dwell.com/photos-6257216983529586688/6674733678450659328-large/master-bedroom.jpg");
  height: 100vh;
  width: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.row{
  max-width: 1180px;
  margin: 0 auto;

}
.clearfix:after{
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.logo{
height: 80px;
width: auto;
display: inline-block;
position: absolute;
top:10%;
left:50%
}
.colorchange{
  animation: colorchangeshaan 1s infinite;
}
@keyframes colorchangeshaan{
  0%{color:#ffd5cd;}
  25%{color: #efbbcf;}
  50%{color: white;}
    100%{color:#f7d6bf;}
}
.row ul{
  float: right;
  margin-top: 80px;
}
.row ul li{

  display: inline-block;
  list-style: none;
  margin-left: 40px;

}

.nav-1{
text-decoration: none;
color: white;
font-size: 90%;
font-weight: 100;
padding-bottom: 5px;
font-family: 'Oswald', sans-serif;
}

.nav-1:hover{
  color:#fdcb9e;
  border-bottom: 2px solid #fdcb9e;
  font-size: 100%;
  transition: 0.5s ease-in;
}
.nav-2{
  color:#fdcb9e;
  text-decoration: none;

  font-size: 90%;
  font-weight: 100;
  
  padding-bottom: 5px;
  font-family: 'Oswald', sans-serif;
}
.nav-2:hover{
  color: white;
  border-bottom: 2px solid #fff;
  font-size: 100%;
  transition: 0.5s ease-in;
}
.nav-3{
  text-decoration: none;
color: white;
font-size: 90%;
font-weight: 100;
padding-bottom: 5px;
font-family: 'Oswald', sans-serif;
padding-right: 30px;
}

.nav-3:hover{
  color:#fdcb9e;
  border-bottom: 2px solid #fdcb9e;
  font-size: 100%;
  transition: 0.5s ease-in;
}

.main-content-header{
  width: 1180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.main-content-header p{
  font-weight: 100;
  font-size: 130%;
  letter-spacing: 3px;
  word-spacing: 2px;
  color:#f3f3f3;
  font-family: mons;
  
}
.btn{
  display: inline-block;
  padding: 2% 3%;
  background: transparent;
  border: 2px solid #fdcb9e;
  font-weight: 100;
  letter-spacing: 3px;
  color: white;
  
}
i{
  position: absolute;
    top: 90px;
   left: 20px;
}
.btn:hover{
  background-color: #fdcb9e;
  color: black;
  transition: 0.3s ease;
}
.main-content-header h1{
  font-weight: 300;
  font-size: 240%;
  letter-spacing: 4px;
  word-spacing: 3px;
  line-height: 55px;
  margin:20px 0 20px 0;
  color:#fdcb9e;

}
.mobile-icon{

  color: #fff;
  float: right;
}
.row ul  {


  position: relative;
  animation-name: mymove;
  animation-duration: 1.5s;
 
}

@keyframes mymove {
  from {top: 15px;}
  to {top: -25px;}
}



/* media queries */
@media only screen and (max-width:1180px)
{
   .main-content-header{
      width: 100%;
      padding: 0 2%;
   }

}

@media only screen and (max-width:998px)
{
      .main-content-header h1{
          font-size: 200%;
      }
}

@media only screen and (max-width:768px)
{

  .main-content-header h1{
      font-size: 180%;
  }

  .mobile-icon{
      display: inline-block;
      float: right;
      margin: 70px 29px;
  }
  
  .row ul li{
      
      display: block;
      margin-top: 15px;
     
  }

  .row ul {
      float: left;
      margin-top:40px
  }
  
 .logo{
     float: left;
 }
}



@media only screen and (max-width:480px)
{
 
  .main-content-header h1{
       font-size: 160%;
   }
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
   background-color: #f7d6bf;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 768px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
